/*----------Colours*/
.menu-button-color{
    background-color: #ff9900;
}
.main-area-color{
    background-color: black;
}

/*----------header*/

.list-inline-item:not(:last-child) {
    margin-right: 0;}

.menu-container{
font-size: 0;
margin-bottom: 0;}


#nav li{
    font-size: 14px;
    padding: 0;
}

.menu-button{
  height: 70px;
  text-align: center;
  padding: 0;

}
.menu-button a{
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
}

.menu-button a i{
    padding-top: 11px;
    display: block;
    color: white;
    font-size: 20px;
}

.menu-button span{
    display: block;
    width: 100%;
    padding-top: 5px;
}

/*----------main area*/

.main-area{
    height: 600px;
    margin-top: 0;
}
.main-explanation{
    color: white;
}
#table p{
    color: white;
}